.newpostContainer {
	padding: 14px;
	background-color: var(--primary-color);
	border-radius: inherit;
	color: white;
	.newpostInput {
		display: flex;
		align-items: center;
		gap: 0.75rem;
		input {
			font-size: 15px;
			background-color: transparent;
			color: white;
			&::placeholder {
				/* Chrome, Firefox, Opera, Safari 10.1+ */
				color: white;
				opacity: 1; /* Firefox */
			}
		}
	}

	.uploadedImage {
		border-radius: 6px;
		// overflow: hidden;
		margin-top: 1rem;

		position: relative;
		img {
			border-radius: inherit;
			width: 100%;

			max-height: 500px;
			object-fit: cover;
		}
		svg {
			position: absolute;
			background-color: var(--bg2-color);
			border-radius: 50%;
			top: -10px;
			right: -10px;
			height: 20px;
			width: 20px;
			padding: 0.25rem;
			color: var(--text-color);
			cursor: pointer;
		}
	}
	.publishPost {
		margin-top: 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 0.95rem;
		.icons {
			display: flex;
			align-items: center;
			gap: 1.25rem;
			text-align: center;
			label {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				cursor: pointer;

				padding: 0.5rem 0.75rem;
				border-radius: 6px;
				input {
					display: none;
				}
				&:hover {
					background-color: rgb(255, 255, 255, 0.25);
				}
			}

			svg {
				stroke-width: 2px;
				width: 23px;
				height: 23px;
			}
		}
		.post {
			.icons {
				display: flex;
				align-items: center;
				gap: 1.25rem;
				text-align: center;
				label {
					display: flex;
					align-items: center;
					gap: 0.5rem;
					cursor: pointer;

					padding: 0.5rem 0.75rem;
					border-radius: 6px;
					input {
						display: none;
					}
					&:hover {
						background-color: rgb(255, 255, 255, 0.25);
					}
				}

				svg {
					stroke-width: 2px;
					width: 23px;
					height: 23px;
				}
			}
			button {
				cursor: pointer;
				padding: 0.5rem 1.75rem;
				background-color: white;
				font-weight: 500;
				color: var(--primary-color);

				border-radius: 6px;
				border: none;
			}
		}
	}
	@media only screen and (max-width: 680px) {
		.publishPost {
			font-size: 0.8rem;
			flex-direction: column;
			// gap: 0.9rem;
			.icons {
				width: 100%;
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 1rem;
				label {
					justify-content: center;
					&:nth-child(3) {
						display: none;
					}
				}
			}
			.post {
				width: 100%;
				text-align: center;
				font-size: 0.95rem;
				padding: 0.5rem 0;
				button {
					width: 100%;
				}
			}
		}
	}
}
